﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BasicStarterKit</title>

    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        @RenderBody();
    </div>
</body>
</html>